.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-button {
  background-color: #61dafb; /* Красивый цвет */
  border: none; /* Убрать рамку */
  border-radius: 10px; /* Сделать углы скругленными */
  color: white; /* Сделать текст белым */
  font-size: 20px; /* Увеличить размер шрифта */
  padding: 15px 30px; /* Добавить отступы */
  cursor: pointer; /* Сделать курсор рукой при наведении */
}

.App-weather {
  /* Выравнивание элементов по центру */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Отступы от краев */
  padding: 20px;
  /* Градиентный фон */
  background: linear-gradient(to right, lightblue, pink);
}

/* Стиль для каждого параграфа */
.App-weather p {
  /* Шрифт и размер текста */
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  /* Отступы между параграфами */
  margin: 15px;
  /* Тень текста */
  text-shadow: 2px 2px 4px gray;
}